div.step-title
  .container
    .row
      h2 Meeting rooms
div#room-picker.step.container
  .row

    .col-md-7#rooms
      div(floor-picker floors="floors" floor="floor")

      div(floorplan floorplan-data="floorplan")

    .col-md-5

      div#day-picker
        button#previous-day.btn-borderless(ng-click="prevDay()")
          | <
        span.day {{ day.format("dddd") }}, {{ day.format("MMMM D") }}
        button#next-day.btn-borderless(ng-click="nextDay()")
          | >

      div#time-picker
        .row
          .col-xs-6
            .row
              .col-xs-4.vcenter.labels
                span From
              .col-xs-8.vcenter
                div(timepicker ng-model="from_time" minute-step="15" show-meridian="false")
          .col-xs-6
            .row
              .col-xs-4.vcenter.labels
                span To
              .col-xs-8.vcenter
                div(timepicker ng-model="to_time" minute-step="15" show-meridian="false")

      div(availability
        floorplan-data="floorplan"
        rooms="rooms"
        availability-data="availabsData"
        day="day"
        from_time="from_time"
        to_time="to_time"
      )
